$loading-screen-illustration-size: 200px;

.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__illustration {
    width: $loading-screen-illustration-size;
    height: $loading-screen-illustration-size;
  }
}
